@import "fx";

html {
  font-size: 12px;
}

.no-pad {
  padding: 0;
  margin: 0;
}

.no-breaks {
  word-break: unset;
  word-wrap: unset;
  overflow-wrap: unset;
  hyphens: unset;
}


.full-height {
  height: 100%!important;
}

.full-height-page {
  height: calc(100vh)
}
